:host {
  display: block;
}

:host ::ng-deep .ProseMirror.project-editor-content {
  min-height: 10rem;
}

:host ::ng-deep .ProseMirror.project-editor-content:focus {
  outline: none;
}

:host ::ng-deep .ProseMirror.project-editor-content p.is-editor-empty:first-child::before {
  color: var(--muted-foreground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
