@reference '../../../../styles.css';

.admin-shell {
  --admin-sidebar-width: 16rem;
  --admin-sidebar-collapsed-width: 4.5rem;
}

.admin-shell-sidebar {
  width: var(--admin-sidebar-width);
}

.admin-shell-sidebar.admin-shell-sidebar-collapsed {
  width: var(--admin-sidebar-collapsed-width);
}
